$blue:    #0076f3 !default;
$indigo:  #272B35 !default;
$purple:  #9900CC !default;
$pink:    #C92D8E !default;
$red:     #FF5356 !default;
$orange:  #fd7e14 !default;
$yellow:  #FFD000 !default;
$green:   #33CC66 !default;
$teal:    #4267B2 !default;
$cyan:    #17a2b8 !default;

@import '~bootstrap/scss/bootstrap';
